/project/Alumni_System/nbproject/private/
/sample_project/Flying_Wheel/build/
/sample_project/Flying_Wheel/dist/
/sample_project/Flying_Wheel/nbproject/private/
/integratedsystem/build/
/integratedsystem/nbproject/private/
project/Alumni_System/build/web/WEB-INF/lib/javax.servlet.jsp.jstl-1.2.1.jar
*.jar
integratedallsysmtem/nbproject/private/
integratedallsysmtem/nbproject/Makefile-*.mk
integratedallsysmtem/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
integratedallsysmtem/nbproject/project.xml
*.properties
*.xml
*.class
