/Coding Java/Alumni-UserModule/nbproject/private/
/Coding Java/Alumni-UserModule/build/
/Coding + SQL/sda_net/nbproject/private/
/Coding + SQL/Coding netbeans/nbproject/private/
/Coding + SQL/Alumni_System/nbproject/private/
/sda3_net/nbproject/private/
/Coding + SQL/Alumni_System/build/
/Coding + SQL/User_Module/nbproject/private/
/Coding + SQL/User_Module/build/
/Coding + SQL/User_Module/dist/