@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.comfortaa-bold-black-20px {
  color: black;
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.comfortaa-bold-black-30px {
  color: black;
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.comfortaa-bold-gray-20px {
  color: var(--gray);
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.comfortaa-bold-haiti-20px {
  color: var(--haiti);
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.comfortaa-bold-white-25px {
  color: white;
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.footlightmtlight-regular-normal-white-45px {
  color: white;
  font-family: "Footlight MT Light", Helvetica, Arial, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
}
.view-profile {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 1024px;
  justify-content: flex-start;
  width: 1440px;
}
.view-profile .alumni-information {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  min-height: 22px;
  min-width: 214px;
  text-align: left;
  width: auto;
}
.view-profile .alumni-of---surveying {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 103px;
  width: auto;
}
.view-profile .auto-flex-fCNQqZ {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 22px;
  justify-content: flex-start;
  min-width: 779px;
  width: auto;
}
.view-profile .auto-flex1-fCNQqZ {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 22px;
  justify-content: flex-start;
  margin-top: 38px;
  min-width: 780px;
  width: auto;
}
.view-profile .auto-flex2-fCNQqZ {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 22px;
  justify-content: flex-start;
  margin-top: 38px;
  min-width: 779px;
  width: auto;
}
.view-profile .auto-flex3-Xa1OFb {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  margin-left: 92px;
  min-height: 448px;
  width: 780px;
}
.view-profile .auto-flex4-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 448px;
  justify-content: flex-start;
  margin-right: 22.5px;
  margin-top: 101px;
  min-width: 1190px;
  width: auto;
}
.view-profile .basic-information {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  min-height: 22px;
  min-width: 199px;
  text-align: left;
  width: auto;
}
.view-profile .contact-information {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  min-height: 22px;
  min-width: 225px;
  text-align: left;
  width: auto;
}
.view-profile .edit-information {
  background-color: transparent;
  height: auto;
  left: 86px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 355px;
  width: 206px;
}
.view-profile .ellipse-3 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 92px;
  left: 45px;
  position: absolute;
  top: 98px;
  width: 92px;
}
.view-profile .ellipse-4 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 175px;
  left: 72px;
  position: absolute;
  top: 0px;
  width: 175px;
}
.view-profile .home {
  background-color: transparent;
  height: auto;
  left: 73px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 244px;
  width: auto;
}
.view-profile .humaaans-3-characters {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 308px;
  left: 959px;
  position: absolute;
  top: 0px;
  width: 423px;
}
.view-profile .line-1 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  flex-shrink: 0;
  height: 2px;
  margin-left: 7px;
  width: 583px;
}
.view-profile .line-2 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  flex-shrink: 0;
  height: 2px;
  margin-left: 11px;
  width: 553px;
}
.view-profile .line-3 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  flex-shrink: 0;
  height: 3px;
  margin-left: 8px;
  margin-top: 1.11px;
  width: 567px;
}
.view-profile .my-profile {
  background-color: transparent;
  height: auto;
  left: 178px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 244px;
  width: auto;
}
.view-profile .name-steven-rogers {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: 39px;
  min-height: 22px;
  min-width: 238px;
  text-align: left;
  width: auto;
}
.view-profile .name-steven-rogers1 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: 38px;
  min-height: 22px;
  min-width: 370px;
  text-align: left;
  width: auto;
}
.view-profile .name-steven-rogers2 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: 9px;
  min-height: 22px;
  min-width: 270px;
  text-align: left;
  width: auto;
}
.view-profile .name-steven-rogers3 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: 9px;
  min-height: 22px;
  min-width: 253px;
  text-align: left;
  width: auto;
}
.view-profile .name-steven-rogers4 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: 39px;
  min-height: 22px;
  min-width: 222px;
  text-align: left;
  width: auto;
}
.view-profile .name-steven-rogers5 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: 9px;
  min-height: 22px;
  min-width: 282px;
  text-align: left;
  width: auto;
}
.view-profile .name-steven-rogers6 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: 9px;
  min-height: 22px;
  min-width: 156px;
  text-align: left;
  width: auto;
}
.view-profile .overlap-group-Xa1OFb {
  background-color: transparent;
  flex-shrink: 0;
  height: 443px;
  position: relative;
  width: 318px;
}
.view-profile .overlap-group1 {
  background-color: transparent;
  flex-shrink: 0;
  height: 308px;
  position: relative;
  width: 1440px;
}
.view-profile .rectangle-1 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: var(--cloud-burst);
  height: 297px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1700px;
}
.view-profile .rectangle-23 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: var(--regent-st-blue);
  border-radius: 50px;
  height: 360px;
  left: 0px;
  position: absolute;
  top: 83px;
  width: 318px;
}
.view-profile .search {
  background-color: transparent;
  height: auto;
  left: 333px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 244px;
  width: auto;
}
.view-profile .steven-rogers {
  background-color: transparent;
  height: auto;
  left: 47px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 205px;
  width: auto;
}
.view-profile .vector-HIQFF0 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 22px;
  left: 42px;
  position: absolute;
  top: 306px;
  width: 30px;
}
.view-profile .vector-a4vd0b {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 70px;
  left: 128px;
  position: absolute;
  top: 53px;
  width: 62px;
}
.view-profile .vector-g5WeGn {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 24px;
  left: 42px;
  position: absolute;
  top: 353px;
  width: 26px;
}
.view-profile .view-information {
  background-color: transparent;
  height: auto;
  left: 90px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 306px;
  width: 212px;
}
:root {
  --cloud-burst: rgba(35, 41, 93, 1);
  --gray: rgba(130, 130, 130, 1);
  --haiti: rgba(32, 14, 50, 1);
  --regent-st-blue: rgba(166, 198, 227, 1);
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.comfortaa-bold-black-20px {
  color: black;
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.comfortaa-bold-black-22px {
  color: black;
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.comfortaa-bold-black-25px {
  color: black;
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.comfortaa-bold-chicago-20px {
  color: var(--chicago);
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.comfortaa-bold-white-20px {
  color: white;
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.comfortaa-bold-white-25px {
  color: white;
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.comfortaa-regular-normal-black-16px {
  color: black;
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.comfortaa-regular-normal-chicago-20px {
  color: var(--chicago);
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.footlightmtlight-regular-normal-white-45px {
  color: white;
  font-family: "Footlight MT Light", Helvetica, Arial, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
}
.search {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 1024px;
  justify-content: flex-start;
  overflow: hidden;
  width: 1440px;
}
.search .alumni-of---surveying {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 103px;
  width: auto;
}
.search .auto-flex {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 4px;
  margin-left: 21px;
  min-height: 56px;
  width: 329px;
}
.search .auto-flex-1XBJaM {
  align-items: center;
  align-self: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 57px;
  justify-content: flex-start;
  min-width: 981px;
  width: auto;
}
.search .auto-flex-mbTXrJ {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 22px;
  justify-content: flex-start;
  margin-top: 9px;
  min-width: 329px;
  width: auto;
}
.search .auto-flex1-phANlq {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  margin-left: 10px;
  min-height: 735px;
  width: 1027px;
}
.search .auto-flex2-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 735px;
  justify-content: flex-start;
  margin-top: 31px;
  min-width: 1324px;
  width: auto;
}
.search .auto-flex3-E1ZttC {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 0.09px;
  min-height: 27px;
  width: 16px;
}
.search .auto-flex4-E1ZttC {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  margin-left: 0px;
  min-height: 26px;
  width: 16px;
}
.search .batch {
  background-color: transparent;
  height: auto;
  left: 39px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 185px;
  width: 66px;
}
.search .button {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 83px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 142px;
}
.search .button:hover {
  transform: scale(0.9);
}
.search .button:hover {
  transform: scale(0.9);
}
.search .button:hover {
  transform: scale(0.9);
}
.search .button:hover {
  transform: scale(0.9);
}
.search .combined-shape {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.search .course {
  background-color: transparent;
  height: auto;
  left: 39px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 97px;
  width: 81px;
}
.search .ellipse-3 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 92px;
  left: 45px;
  position: absolute;
  top: 98px;
  width: 92px;
}
.search .fill-1-fhKmGV {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 13px;
  left: 17px;
  position: absolute;
  top: 0px;
  width: 13px;
}
.search .fill-1-itu69x {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  flex-shrink: 0;
  height: 6px;
  margin-left: 0.17px;
  margin-top: 8px;
  width: 16px;
}
.search .fill-4 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  flex-shrink: 0;
  height: 5px;
  width: 16px;
}
.search .fill-6 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  flex-shrink: 0;
  height: 12px;
  width: 12px;
}
.search .fill-9 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  flex-shrink: 0;
  height: 12px;
  margin-left: 4.17px;
  margin-top: 9px;
  width: 12px;
}
.search .filter-search {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: 142px;
}
.search .graduation-year {
  background-color: transparent;
  height: auto;
  left: 39px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 142px;
  width: 183px;
}
.search .graduation-year-20 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 15px;
  margin-top: 1px;
  min-height: 18px;
  min-width: 192px;
  text-align: left;
  width: auto;
}
.search .home {
  background-color: transparent;
  height: auto;
  left: 73px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 244px;
  width: auto;
}
.search .humaaans-3-characters {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 308px;
  left: 959px;
  position: absolute;
  top: 0px;
  width: 423px;
}
.search .my-profile {
  background-color: transparent;
  height: auto;
  left: 178px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 244px;
  width: auto;
}
.search .overlap-group {
  align-items: flex-end;
  background-color: transparent;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/5fedca635c07fd3ab0e1d2bd/releases/5fedca9c5122d4b9a1c05998/img/ellipse-2@2x.svg);
  background-size: 100% 100%;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 75px;
  justify-content: flex-start;
  min-width: 76px;
  padding: 17px 22.2px;
  width: auto;
}
.search .overlap-group-92K7kn {
  background-color: transparent;
  flex-shrink: 0;
  height: 83px;
  margin-left: 358px;
  position: relative;
  width: 147px;
}
.search .overlap-group-JUxu8l {
  align-items: flex-start;
  background-color: var(--cararra);
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 144px;
  justify-content: flex-start;
  margin-top: 13px;
  min-width: 1018px;
  padding: 27px 36.4px;
  width: auto;
}
.search .overlap-group-phANlq {
  background-color: transparent;
  flex-shrink: 0;
  height: 247px;
  margin-top: 118px;
  position: relative;
  width: 287px;
}
.search .overlap-group1-dSU0qP {
  background-color: transparent;
  flex-shrink: 0;
  height: 30px;
  margin-bottom: 1.1px;
  margin-left: 25px;
  position: relative;
  width: 30px;
}
.search .overlap-group10 {
  background-color: transparent;
  flex-shrink: 0;
  height: 308px;
  position: relative;
  width: 1440px;
}
.search .overlap-group2-dSU0qP {
  align-items: flex-start;
  background-color: var(--timberwolf);
  border-radius: 50px;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 57px;
  justify-content: flex-start;
  min-width: 593px;
  padding: 13px 35px;
  width: auto;
}
.search .overlap-group3-dSU0qP {
  align-items: center;
  background-color: var(--alto);
  border-radius: 10px;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 40px;
  justify-content: flex-start;
  margin-bottom: 1px;
  margin-left: 293px;
  min-width: 40px;
  padding: 3.8px 3.5px;
  width: auto;
}
.search .overlap-group4 {
  align-items: flex-start;
  background-color: var(--cararra);
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 144px;
  justify-content: flex-start;
  margin-top: 63px;
  min-width: 1018px;
  padding: 27px 36.4px;
  width: auto;
}
.search .rectangle-1 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: var(--cloud-burst);
  height: 297px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1700px;
}
.search .rectangle-20 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: var(--cararra);
  height: 181px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 287px;
}
.search .rectangle-22 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: var(--cloud-burst);
  height: 68px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 287px;
}
.search .rectangle-25 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 67px;
  left: 6px;
  position: absolute;
  top: 4px;
  width: 141px;
}
.search .search {
  background-color: transparent;
  height: auto;
  left: 333px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 244px;
  width: auto;
}
.search .search-for-alumni {
  align-self: center;
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-bottom: 1px;
  margin-left: 41px;
  min-height: 22px;
  min-width: 197px;
  text-align: left;
  width: auto;
}
.search .steven-rogers {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  min-height: 25px;
  text-align: left;
  width: 239px;
}
.search .utm-alumni {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  min-height: 22px;
  text-align: left;
  width: 132px;
}
.search .vector-6QVaxv {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  flex-shrink: 0;
  height: 40px;
  width: 31px;
}
.search .vector-BRQyZ1 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  flex-shrink: 0;
  height: 25px;
  width: 25px;
}
.search .vector-tj2oKg {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 12px;
  left: 232px;
  position: absolute;
  top: 27px;
  width: 25px;
}
.search .view {
  background-color: transparent;
  height: auto;
  left: 43px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 27px;
  width: auto;
}
:root {
  --alto: rgba(228, 218, 218, 1);
  --cararra: rgba(236, 236, 236, 1);
  --chicago: rgba(94, 94, 94, 1);
  --cloud-burst: rgba(35, 41, 93, 1);
  --timberwolf: rgba(216, 208, 208, 1);
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.comfortaa-bold-white-25px {
  color: white;
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.comfortaa-light-black-22px {
  color: black;
  font-family: "Comfortaa", Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
}
.footlightmtlight-regular-normal-white-45px {
  color: white;
  font-family: "Footlight MT Light", Helvetica, Arial, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
}
.main {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 1024px;
  width: 1440px;
}
.main .alumni-of---surveying {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 103px;
  width: auto;
}
.main .as-an-effo-ata-online {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: 37px;
  min-height: 358px;
  text-align: left;
  width: 302px;
}
.main .auto-flex-uxzUmT {
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  margin-left: 110px;
  min-height: 475px;
  width: 302px;
}
.main .auto-flex1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 504px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 95px;
  min-width: 1080px;
  width: auto;
}
.main .ellipse-3 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 92px;
  left: 45px;
  position: absolute;
  top: 98px;
  width: 92px;
}
.main .fabu-1 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 432px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 629px;
}
.main .fancy-plan-solo-plant {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  flex-shrink: 0;
  height: 80px;
  margin-right: 50px;
  width: 82px;
}
.main .home {
  background-color: transparent;
  height: auto;
  left: 73px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 244px;
  width: auto;
}
.main .humaaans-3-characters {
  backdrop-filter: blur(px) brightness(100%);
  background-color: transparent;
  height: 308px;
  left: 959px;
  position: absolute;
  top: 0px;
  width: 423px;
}
.main .my-profile {
  background-color: transparent;
  height: auto;
  left: 178px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 244px;
  width: auto;
}
.main .overlap-group-uxzUmT {
  background-color: transparent;
  flex-shrink: 0;
  height: 469px;
  position: relative;
  width: 668px;
}
.main .overlap-group1 {
  background-color: transparent;
  flex-shrink: 0;
  height: 308px;
  position: relative;
  width: 1440px;
}
.main .rectangle-1 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: var(--cloud-burst);
  height: 297px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1700px;
}
.main .rectangle-24 {
  backdrop-filter: blur(px) brightness(100%);
  background-color: var(--regent-st-blue);
  height: 434px;
  left: 33px;
  position: absolute;
  top: 35px;
  width: 635px;
}
.main .search {
  background-color: transparent;
  height: auto;
  left: 333px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 244px;
  width: auto;
}
:root {
  --cloud-burst: rgba(35, 41, 93, 1);
  --regent-st-blue: rgba(166, 198, 227, 1);
}
