
/sample_project/Flying_Wheel/build/
/sample_project/Flying_Wheel/dist/
/sample_project/Flying_Wheel/nbproject/private/
/project/Alumni_System/nbproject/private/
/project/Alumni_System/build/
/integratedsystem/build/
/integratedsystem/nbproject/private/
nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
/build/
nbbuild/
dist/
nbdist/
.nb-gradle/